$pinkColor:#e91c6a;
$blackColor:rgba(0,0,0,0);
$greyColor1:#707070;
$greyColor2:#6f6f6f;
$greyBlue:#514f62;
$whiteColor:#ffffff;
$color:#FBDBE7;
$color1:#EFEFEF;
$color2:#E9F2FD;
$color3:#DF6DAA;
$color4:#939CA0;
$color5:#E5EEFA;
$color6:#EBF2FD;
$color7:#FAEEF9;
$color8:#EC387C;
$color9:#514F62;
$color10:#F9EEF9;
